#将client的服务注册到server端
spring:
  boot:
    admin:
      client:
        url: http://localhost:8080
# 启动端口8081
server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: ALWAYS

